
@{
    ViewBag.Title = "Index";
}

<h2>Index View of Demo Controller</h2>

<h3>Trying to access TempData Values of the Data Controller</h3>
@foreach(var item in TempData["stores"]as List<string>)
            {
                <p>@item</p>
            }