@model IEnumerable<Attribute_Routing.Models.Student>
@{
    ViewBag.Title = "GetAllStudents";
}

<h2>GetAllStudents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(mi => item.Id)
    </td>
    <td>
        @Html.DisplayFor(mi => item.Name)
    </td>
</tr>
            }
</table>

