
@{
    ViewBag.Title = "Bundling_Method";
}

<h2>Bundling_Method of Default Controller</h2>

@Scripts.Render("~/bundles/User")
<br/>
<hr/>
<h2> This is the text after rendering of the Users Scripts as a bundle</h2>

