@model Custom_Model_Binding.Models.CustomModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>@ViewBag.SplTitle</h2>
<h2>@ViewBag.Date</h2>

<form id="frmdefault" method="post">
    Title  : <input type="text" id="title" name="title" />
    Date   : <input type="text" id="day" name="day" />
    Month  : <input type="text" id="month" name="month" />
    Year   : <input type="text" id="year" name="year" />
    <br/>
    <input type="submit" id="submit" value="Submit" />

</form>
